.game-box-area {
	z-index: 0;
	border-radius: 0px 30px 30px 0px;
	height: 80%;
	width: 70%;
	background-color: white;
	overflow-x: hidden;
}

.game-wrapper-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 120px);
	margin-left: auto;
	margin-right: auto;
}

.game-box-scroll-wrapper {
	height: 100%;
	width: calc(100% - 60px);
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	padding-bottom: 3px;
	margin-bottom: 27px;
	overflow-y: none;
}

.game-box-rect {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 30px 0px 0px 30px;
	width: 18rem;
	height: 80%;
	min-width: 200px;
	backdrop-filter: blur(5px);
	/* backdrop-filter: blur(6px); */
}

.game-rect-heading {
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 0.5rem;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
}

.game-rect-details {
	margin-right: 2rem;
	margin-left: 2rem;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.game-option-grid {
	display: grid;
	justify-items: start;
	align-items: center;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	width: 100%;
	margin-top: 20px;
}

.game-poll-image {
	width: 200px;
	z-index: 5;
	position: relative;
	border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
	.game-poll-image {
		display: none;
	}
}

.game-option-button {
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 6px 15px;
    margin-top: 12px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%), 0 2px 2px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 15%);
    border: none;
    outline: none;
    z-index: 4;
    position: relative;
    cursor: pointer;
	font-family: "Inter", sans-serif;
	font-size: 1.35rem;
    font-weight: 700;
    z-index: 4;
	word-break: break-word;
}

.game-option-button:hover {background-color: white}

.game-option-button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.answered-option-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 10px;
	padding: 6px 15px;
	margin-top: 12px;
	border: none;
	outline: none;
	z-index: 4;
	position: relative;
}

.option-text-answered {
	display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-word;
    text-align: left;
    font-family: "Inter", sans-serif;
    margin-top: -1px;
    margin-left: 10px;
    font-size: 1.35rem;
    font-weight: 700;
    z-index: 4;
}
.answered-option-white-bar {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	border-radius: 10px;
}

.option-percentage {
	font-family: "Inter", sans-serif;
	margin-top: -1px;
	margin-left: 10px;
	font-size: 1.35rem;
	font-weight: 700;
	z-index: 4;
	right: 15px;
	width: max-content;
}

.game-option-button-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.game-option-button:active {
	box-shadow: 0 1px rgb(197, 197, 197);
}

.question-area {
	margin-bottom: 1rem;
}

.game-question-title-area {
	display: flex;
	align-items: flex-start;
	align-content: space-around;
	margin-bottom: 0.5rem;
	flex-wrap: wrap;
}

.question-title {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 2rem;
	max-width: 90%;
}

.question-emojis {
	margin-right: 1rem;
}

.num-answers {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	margin-top: 10px;
}

.fineprint {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	margin-top: -3px;
}

.gamebox-display-flex {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 4vh;
	overflow-y: hidden;
	margin-top: 0.5rem;
	align-items: center;

}

.dashboard {
	margin-right: 2rem;
	margin-left: 2rem;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.userName {
	font-family: "Inter", sans-serif;
	color: black;
	font-weight: 600;
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.dashboard-detail {
	font-family: "Inter", sans-serif;
	color: black;
	font-weight: 600;
	font-size: 1rem;
}

.lives-left {
	font-family: "Inter", sans-serif;
	color: black;
	font-weight: 600;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	font-style: italic;
}

.flex-horizontal {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-horizontal-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7px;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
