.end-wrapper-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 120px);
	margin-left: auto;
	margin-right: auto;
}

.end-picture {
	z-index: 0;
	filter: grayscale(100%);
	border-radius: 0px 30px 30px 0px;
	height: 80%;
	min-height: 26rem;
	min-width: 18rem;
	object-fit: cover;
}

.end-rect {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 30px  0px  0px 30px ;
	width: 20rem;
	height: 80%;
	min-height: 26rem;
	min-width: 18rem;
	backdrop-filter: blur(5px);
}

.end-section-heading {
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 0.5rem;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	margin-top: 20px;
	font-size: 1.5rem;
}

.end-section-score {
	padding-left: 2rem;
	padding-right: 0.5rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	margin-top: 20px;
	font-size: 1.2rem;
	margin-bottom: 4rem;
}

.end-button-submit {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 8px;
	background-color: transparent;
	border: 2px solid black;
	outline: none;
	border-radius: 10px;
	margin-left: 2rem;
	cursor: pointer;
	margin-bottom: 1rem;
}

.end-details {
	text-align: left;
	font-size: 1rem;
	position: absolute;
	background-color: black;
	color: white;
	padding: 20px;
	min-width:8rem;
	width: 10rem;
	height: 7rem;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-0%, -100%);
}

.end-button-submit:hover {
	background-color: black;
	color: white;
}