.poll-modal-wrapper-flex {
	display: flex;
	justify-content: space-between;
}

.poll-modal-heading {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.poll-modal-close {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	outline: none;
	border-radius: 10px;
	margin-left: 10px;
	border: none;
	padding-left: 8px;
	padding-right: 11px;
	padding-top: 0;
	padding-bottom: 0;
}

.on-the-right {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.poll-modal-submit {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 8px;
	background-color: transparent;
	border: 2px solid black;
	outline: none;
	border-radius: 10px;
}

.poll-modal-submit:hover {
	background-color: black;
	color: white;
}

.poll-modal-close:hover {
	background-color: black;
	color: white;
}

.poll-modal-question-desc-emoji {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 0.7rem;
	margin-top: 5px;
	position: absolute;
	top: 36px;
	left: 0;
}

.poll-modal-question-desc-question {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 0.7rem;
	margin-top: 5px;
	position: absolute;
	top: 36px;
	left: 60px;
}

.poll-modal-question-input {
	width: min(88%, 600px);
	height: 30px;
	border: none;
	border-bottom: 3px solid black;
	font-family: "Inter", sans-serif;
	color: black;
	outline: none;
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	left: 60px;
	background-color: rgba(255, 255, 255, 0);
}

::placeholder {
	color: black;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	color: black;
}

::-ms-input-placeholder {
	color: black;
}

.poll-modal-input-module {
	margin-top: 10px;
}

.display-flex {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.display-relative {
	position: relative;
	height: 65px;
}

.emoji-picker {
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 100;
}

.emoji-picker-button {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	outline: none;
	padding-bottom: 3.5px;
	border-bottom: 3px solid black;
}

.poll-section-heading {
	font-family: "Inter", sans-serif;
	font-weight: 650;
	margin-top: 20px;
	font-size: 1.3rem;
}

.poll-modal-wrapper {
	height: max-content;
	max-height: min(800px, 90vh);
	width: 100%;
	padding-right: 20px;
	overflow-y: auto;
}