.poll-modal-wrapper-flex {
	display: flex;
	justify-content: space-between;
}

.poll-modal-heading {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 2rem;
}

.poll-modal-close {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px 5px 10px;
	background-color: transparent;
	border: 3px solid black;
	outline: none;
	border-radius: 10px;
}

.poll-modal-close:hover {
	background-color: black;
	color: white;
}

.poll-modal-question-desc-emoji {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 0.9rem;
	margin-top: 5px;
	position: absolute;
	top: 36px;
	left: 0;
}

.poll-modal-question-desc-question {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 0.9rem;
	margin-top: 5px;
	position: absolute;
	top: 36px;
	left: 60px;
}

.poll-modal-question-input {
	width: min(80%, 600px);
	height: 30px;
	border: none;
	border-bottom: 3px solid black;
	font-family: "Inter", sans-serif;
	color: black;
	outline: none;
	font-size: 1.6rem;
	position: absolute;
	top: 0;
	left: 60px;
}

::placeholder {
	color: black;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	color: black;
}

::-ms-input-placeholder {
	color: black;
}

.poll-modal-input-module {
	margin-top: 30px;
}

.display-flex {
	display: flex;
	width: min(80%, 700px);
	flex-wrap: wrap;
}

.display-relative {
	position: relative;
	height: 65px;
}

.emoji-picker {
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 100;
}

.emoji-picker-button {
	background-color: transparent;
	border: none;
	outline: none;
	padding-bottom: 3.5px;
	border-bottom: 3px solid black;
}