.option-wrapper {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
	padding: 6px 15px;
	margin-bottom: 15px;
	box-shadow: 0 3px rgb(197, 197, 197);
	border: none;
	outline: none;
	z-index: 4;
	position: relative;
}

.option-wrapper:hover {background-color: white}

.option-wrapper:active {
  box-shadow: 0 1.5px rgb(172, 172, 172);
  transform: translateY(2px);
}

.option-text {
	display: inline-block;
	width: fit-content;
	word-break: break-word;
	font-family: "Inter", sans-serif;
	margin-top: -1px;
	margin-left: 10px;
	font-size: 1.35rem;
	font-weight: 700;
}
