.masonary-poll-wrapper {
	border-radius: 10px;
	padding: 23px;
	color: white;
	height: max-content;
	background-color: white;
	box-shadow: 0 9px #999;

}

.masonary-poll-heading {
	font-family: "Inter", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 7px;
}
