.stats-bottom-panel-wrapper {
	width: calc(100% - 60px);
	border-radius: 20px;
	margin-top: 30px;
	position: relative;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* height: max-content; */
	color: black;
	background-color: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	flex-wrap: wrap;
}

.stats-control-box-wrapper {
	height: max-content;
	margin-right: 20px;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.barchart-wrapper {
	height: min(600px, 80vh);
	width: 100%;
}

.vl {
	border-left: 2px solid white;
	height: 70px;
  }

.control-box-heading {
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 2.6rem;
	width: max-content;
	margin-right: 30px;
}

.barchart-heading {
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 30px;
}

.control-box-button {
	font-size: 1.1rem;
	font-weight: 550;
	display: flex;
	height: 40px;
	width: max-content;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	padding: 8px 15px;
	margin-bottom: 12px;
	background-color: rgba(233, 151, 151, 0.7);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15),
		0 8px 8px rgba(0, 0, 0, 0.15);
	border: none;
	outline: none;
	z-index: 4;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	color: white;
	font-family: "Inter", sans-serif;
}

.control-box-button-flex {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	max-width: max(50%, 600px);
}

.insight-heading {
	display: flex;
	align-items: center;
}

.control-box-subheading {
	font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
	color: white;
	margin-left: 30px;
	font-style: italic;
}