.banner-wrapper {
	width: calc(100% - 60px);
	border-radius: 20px;
	position: relative;
	z-index: 0;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: max-content;
	color: white;
}

.banner-supplement-heading {
	font-family: "Inter", sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.banner-left {
	width: 100%;
}

.banner-main-heading {
	font-family: "Inter", sans-serif;
	font-size: 2.2rem;
	max-width: 70%;
	font-weight: 700;
	line-height: 2.6rem;
	margin-bottom: 5px;

}

.category-text {
	font-family: "Inter", sans-serif;
	font-size: 1.1rem;
	margin-right: 10px;
}

.category-flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.banner-icon {
	position: absolute;
	right: 30px;
	top: 30px;
}

.banner-statics {
	position: absolute;
	right: 30px;
	bottom: 30px;
	text-align: right;
}

.banner-number {
	font-family: "Inter", sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

.banner-stats-text {
	font-family: "Inter", sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
}

.banner-options-wrapper {
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.banner-icon {
	position: absolute;
	right: 26px;
	top: 26px;
	background-color: transparent;
	border: none;
	color: white;
	border-radius: 4px;
	width: 35px;
	height: 35px;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-icon:hover {
	background-color:rgba(255, 255, 255, 0.2);
}

.banner-icon:active {
	background-color:rgba(255, 255, 255, 0.8);
	color: black;
}