body,
html {
	background-color: black;
	background-image: url("https://media.giphy.com/media/jtXBVv4XT93aV3r0Uz/giphy.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*  */

#website-wrapper {
	/* width: min(90vw, 1400px); */
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
}

#background-color {
	background-color: rgba(0, 0, 0, 0.85);
	width: 100vw;
	height: 100vh;
	position: fixed;
	margin-top: -30px;
	z-index: 0;
}
/* width */
::-webkit-scrollbar {
	margin-right: 10px;
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.page-title-wrapper-flex {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
}

.page-title {
	font-family: "Inter", sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	flex-basis: 100%;
	text-align: center;
	margin-top: 25px;
	color: white;
	z-index: 0;
}

.page-title-description {
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-basis: 100%;
	text-align: center;
	color: white;
	z-index: 0;
	position: relative;
}