body,
html {
	background-color: white;
	background-image: url("https://s3.medialoot.com/blog-images/How-to-Perfectly-Replicate-a-Sky-Gradient-in-Photoshop/01.jpg?mtime=20190411171039");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/* https://cdnb.artstation.com/p/assets/images/images/014/594/431/large/robh-ruppel-billboard-revised-2.jpg?1544627353 */
/* https://i.pinimg.com/originals/04/c7/91/04c79100ee1ec8fd4af045f466ff520a.jpg */
.bg-image {
	width: 100vw;
	height: 100vh;
	z-index: -1;

	position: fixed;
	top: 0;
	left: 0;
}

#website-wrapper {
	width: min(90vw, 1400px);
	margin-left: auto;
	margin-right: auto;
	
}

/* width */
::-webkit-scrollbar {
	margin-right: 10px;
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
