body,
html {
	background-color: #2f557c;
	background-image: url("https://thumbs.gfycat.com/DimpledChubbyLamprey-max-1mb.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#website-wrapper {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}
